{% extends "base.html" %}

{% block content %}

<div class=" container mt-5">
    <div style="font-size:28px; font-weight: 400;" class="d-flex justify-content-center"> About CSHub </div>
    <div style="font-size:20px;">

        <p>
                <p></p>
                <br><br><br><br>
            Looking to continue on your journey after graduation? Dont know which postgraduate course to take?
                <p></p>
            At CSHub we have made easily functional tools like our search engine to help make the best decision for you for your future.
                <p></p>
            We are fully aware that finding the right directions after graduation can be a tough, and there are always many factors to take into consideration such as where to study, what to study and how much you should be paying. 
                <p></p>
            But that is where we intend to come in! This website will provide course and module information so no matter where you are in your decision making process, our tools will help narrow down your search, 
                <p></p>
            So explore, compare, and get ready, because everything you need is right here in CSHub.
        </p>
    </div>

</div>

    <!-- This is the content for ther About Us page -->

{% endblock %}