{% extends "base.html" %}

{% block content %} 

<div class="container">
    <div class="mt-5 d-flex justify-content-center" style="font-size:28px; font-weight: 400;">
        {{master.title}}
    </div>

    <div class="mt-3 d-flex justify-content-around">
        <div>
            Location: {{master.code}}
        </div>  

        <div>

        </div>
    </div>

    <div class="mt-5 d-flex justify-content-start">
        {{master.description|safe}}                                     <!-- safe is used so the description uses HTML format, this way I can add tags to my description -->
    </div>

    <div class="mt-5 d-flex justify-content-center" style="font-size:28px; font-weight: 400;"> Modules related...</div> 
    
        <!-- This is where I can assign which modules relate to which Master Degree -->

    <div class="mt-5">
        {% for module in master.modules.all %}
            {% include "components/resultsbox.html" with object=module type="module" %}
        {% endfor %}
    </div>
</div>

{% endblock content %}